*{
	margin:0;
	padding:0;
}
table{
	width:600px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px;	
}
.wrapper{
	width:605px;
	border:1px solid #b3b1b1;
	border-radius: 10px;
	margin:30px 308px;
	padding:20px 30px 25px;
	box-shadow:0px 0px 40px grey;
	color:#635f5f;
}
th,td{
	border-bottom:1px solid #b3b1b1;
}
td{
	padding:10px;
}
button{
	padding:5px 11px;
	background:red;
	color:white;
	border:0;
	outline:0;
	width:100%;
}
.list{
	margin:25px 206px;
	color:red;
	text-align: left;
}
.footer{
	color:#e03737;
 	font-style: italic;
	font-size: 20px;	
}
.delete{
	background:#e03737;
}
.price{
	padding:20px 15px;
	text-align: right;
}
.close{
	width:22px;
	height:22px;
	border:2px solid #b3b1b1;
	border-radius: 18px;
	box-shadow:0px 0px 7px grey;
	background-repeat: no-repeat;
	background:url('ikon.png')510px 464px;
	position: relative;
	top:48px;
	left:960px;
}